nav{
    background-color: rgb(20, 158, 244);
    display: flex;
}
nav img{
    height: 55px;
    margin-left: 15%;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    /* width: 7%; */
    /* background-color: rgb(255, 0, 34); */
    padding: 1%;
    padding-top: 1.5%;
}
body{
    font-family: "Helvetica Neue","Helvetica",Arial,sans-serif;
}
a:hover{
    background-color: rgb(70, 85, 248);
}
.Wgon_and_News{
margin-left: 15%;
margin-right: 15%;
background-color: rgba(17, 255, 219, 0.993);
display: grid;
grid-template-columns: 65% 35%;
}
.Wgon{
    background-color: blueviolet;
margin: 5%;
/* padding: 5%; */
border-top-right-radius: 20px;
border-top-left-radius: 20px;
}
.News{
    background-color: blue;
margin: 5%;
/* padding: 5%; */
border-top-right-radius: 20px;
border-top-left-radius: 20px;
}
.Studio h1{
    background-color: rgba(255, 255, 255, 0.438);
}
.Recomend h1{
    background-color: rgba(255, 255, 255, 0.438);
}
.Wgon_and_News h1{
    background-color: rgba(255, 255, 255, 0.438);
}
.Recomend{
    margin-left: 15%;
    margin-right: 15%;
    background-color: rgba(255, 242, 0, 0.993);
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.Studio{
    margin-left: 15%;
    margin-right: 15%;
    background-color: rgba(255, 242, 0, 0.993);
    display: grid;
    grid-template-columns: 33% 34% 33%;
}
body .Studio .Proyect img{
width:100%;
}
.Studio h1{
    grid-column-start:1;
    grid-column-end:6;
}
.Studio .Proyect{
    margin-left:2%;
    margin-right:2%;
}
.Design{
    margin-left: 15%;
    margin-right: 15%;
    background-color: rgba(255, 242, 0, 0.993);
    display: grid;
    grid-template-columns: 50% 50%;
}
.Design h1{
    background-color: rgba(255, 255, 255, 0.438);
}
body .Design .Proyect img{
    width:100%;
    }
.Design h1{
    grid-column-start:1;
    grid-column-end:6;
}
.Design .Proyect{
    margin-left:2%;
    margin-right:2%;
}
.Remix{
    margin-left: 15%;
    margin-right: 15%;
    background-color: rgba(255, 242, 0, 0.993);
    display: grid;
    grid-template-columns: 50% 50%;
}
.Remix h1{
    grid-column-start:1;
    grid-column-end:6;
    }
    body .Remix .Proyect img{
    width:100%;
    }
    .Remix .Proyect{
        margin-left:3%;
        margin-right:3%;
    }
.Foter{
    background-color: rgb(219, 219, 219);
    display: grid;
    grid-template-columns: 19% 19% 19% 24% 19%;
    padding-left:12%;
    padding-right:12%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:small;
}
.Foter ul{
    list-style-type:none;
}
.Foter ul li{
    margin-top:10px;
}
.Recomend h1{
    background-color: rgba(255, 255, 255, 0.438);
}
.Recomend{
    margin-left: 15%;
    margin-right: 15%;
    background-color: rgba(255, 242, 0, 0.993);
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
body .Recomend .Proyect img{
    width:100%;
    }
.Recomend h1{
    grid-column-start:1;
    grid-column-end:6;
}
.Remix .Proyect{
    margin-left:2%;
    margin-right:2%;
}
.Explore{
background-color: rgb(255, 191, 0); 
text-align: center;
color: rgb(255, 255, 255);
padding: 1%;
}  
.Explore button{
    background-color: greenyellow;
    font-size: large;
} 
.Explore button:hover{
    background-color: green;
}
.Remix{
    margin-left: 15%;
    margin-right: 15%;
    background-color: rgba(255, 242, 0, 0.993);
    display: grid;
    grid-template-columns: 50% 50%;
}
body .Remix .Proyect img{
    width:100%;
    }
    .Remix h1{
        background-color: rgba(255, 255, 255, 0.438);
    }
.Galery{
    height: 150px;;
    position: relative;
}
.Galery .Image{
    position : absolute;
}
.myclick{
    position: absolute;
}
.questions{
    margin-left: 3%;
    padding-bottom: 3%;
}
.questions input{
    background-color: aquamarine;

}
.questions button{
    background-color: #ffff00; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 1s;
}

.questions button:hover{
    background-color: #4CAF50; /* Green */
  color: rgb(255, 0, 0);
}

.questions input{
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
    padding: 5px;
    border-radius: 6px;
  }


/* nav{
    position: fixed;
    width: 100%;
    margin-bottom:15%;
    top: 0;
} */
@media screen and (max-width: 600px){
    body{
    }
    .Foter{
        grid-template-columns:50% 50%;
    }
    .Recomend{
        grid-template-columns:33% 33% 33%;
    }
    .Recomend h1{
        grid-column-start:1;
        grid-column-end:4;
    }
    .Wgon_and_News{
        grid-template-columns: 100%;
    }
        nav img{
            height: 2%;
            margin-left: 2%;
            width:20%;
            margin-top:1%;
    }
    .Recomend, .Studio, .Wgon_and_News{
        margin-left: 5%;
        margin-right: 5%;
    }
}